body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 2.3rem;
}

h2 {
  font-size: 1.4rem;
}

header,
footer {
  background-color: rgb(243, 233, 240);
}

footer {
  padding: 20px 0;
}

a:hover {
  text-decoration: none;
  font-weight: 500;
}

ul li:first-child {
  margin-right: 10px;
}

.jumbotron {
  background: none;
  margin: 0;
}

.card {
  margin-bottom: 30px;
  transition: 0.3s;
}

.card.shadow-sm:hover {
  box-shadow: 0 0.125rem 0.95rem rgba(0, 0, 0, 0.075) !important;
  transform: scale(1.01);
}

.image-wrapper {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 218px;
}
@media screen and (min-width: 767px) and (max-width: 769px) {
  .image-wrapper {
    height: 139px;
  }
}

#products,
#product,
#pad-bottom {
  padding-bottom: 70px;
  max-width: 1100px;
  margin: auto;
}

input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

input:focus,
.form-control:focus,
button:focus {
  border: 1px solid rgb(235, 202, 225);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(235, 202, 225, 0.5);
}

input:-webkit-autofill {
  border: 1px solid rgba(235, 202, 225, 0.3);
  -webkit-text-fill-color: #212529;
  -webkit-box-shadow: 0 0 0px 1000px rgba(235, 202, 225, 0.3) inset;
  transition: background-color 5000s ease-in-out 0s;
}

#close-btn-mobile {
  top: 0;
  right: 0;
  margin-right: 7px;
}

.cart-btn-quantity {
  border: 1px solid #dee2e6;
  border-radius: 40px;
}
